body {
    height: 100%;
    font-size: 1rem;
    /* padding-top: 65px; */
    padding-bottom: 65px;
}

.header{
        position: fixed;
        left:0;
        right:0;
        top:0;
    }

.footer {
        position: fixed;
        left:0;
        right:0;
        top:0;
    }
        
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.card-container{
  margin-top: 10rem;  
}

.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
}

/* .page-section {
    background-color: red;
    height: 40%;
} */

.btn-nav{
    margin-right: .5rem;
}



.home{
    border: 2px solid black;
    min-height: 80vh;
}

.card-img-top{
    width: 100%;
    height: 80%;
}

.btn-sign-in{
    background-color: #e94135;
    color: #ffff;
}

/* .card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
} */


.comments { 
    font-size: 22px;
}

/* body{
background-color: rgb(136, 224, 224);
} */

